<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magazento_Easybestsellers>
            <version>1.2.7</version>
        </Magazento_Easybestsellers>
    </modules>
    <frontend>
        <layout>
            <updates>
                <easybestsellers>
                    <file>magazento_easybestsellers.xml</file>
                </easybestsellers>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <gallery>
                        <type>singleton</type>
                            <class>easybestsellers/layout</class>
                        <method>fetchDbLayoutUpdates</method>
                    </gallery>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>           
    </frontend>
    <global>
        <models>
            <easybestsellers>
                <class>Magazento_Easybestsellers_Model</class>
                <resourceModel>easybestsellers_mysql4</resourceModel>
            </easybestsellers>
            <easybestsellers_mysql4>
                <class>Magazento_Easybestsellers_Model_Mysql4</class>
                <entities>
                    
                    <item>
                        <table>magazento_easybestsellers_item</table>
                    </item>
                    <item_store>
                        <table>magazento_easybestsellers_item_store</table>
                    </item_store>
                    <item_category>
                        <table>magazento_easybestsellers_item_category</table>
                    </item_category>                          
                    <item_page>
                        <table>magazento_easybestsellers_item_page</table>
                    </item_page>
                    <item_product>
                        <table>magazento_easybestsellers_item_product</table>
                    </item_product>                          
                    <item_review>
                        <table>magazento_easybestsellers_item_review</table>
                    </item_review>                          
                    <item_assignedproduct>
                        <table>magazento_easybestsellers_item_assignedproduct</table>
                    </item_assignedproduct>                          
                </entities>
            </easybestsellers_mysql4>
        </models>
        <resources>
            <easybestsellers_setup>
                <setup>
                    <module>Magazento_Easybestsellers</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </easybestsellers_setup>
            <easybestsellers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </easybestsellers_write>
            <easybestsellers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </easybestsellers_read>
        </resources>
        <blocks>
            <easybestsellers>
                <class>Magazento_Easybestsellers_Block</class>
            </easybestsellers>
        </blocks>
        <helpers>
            <easybestsellers>
                <class>Magazento_Easybestsellers_Helper</class>
            </easybestsellers>
        </helpers>
    </global>
    <admin>
        <routers>
            <easybestsellers>
                <use>admin</use>
                <args>
                    <module>Magazento_Easybestsellers</module>
                    <frontName>easybestsellers</frontName>
                </args>
            </easybestsellers>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <easybestsellers translate="title" module="easybestsellers">
                                            <title>Easybestsellers</title>
                                        </easybestsellers>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <cms translate="title" module="easybestsellers">
                <children>
                    <easybestsellers translate="title" module="easybestsellers">
                        <title>Featured Products</title>
                        <action>easybestsellers/admin_item/</action>
                        <resource>easybestsellers/admin/item</resource>                        
                        <sort_order>65</sort_order>
                        <children>
                            <settings translate="title" module="easybestsellers">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/easybestsellers</action>
                                <sort_order>40</sort_order>
                            </settings>                                
                        </children>
                    </easybestsellers>
                </children>
            </cms>
        </menu> 
        <layout>
            <updates>
                <easybestsellers>
                    <file>magazento_easybestsellers.xml</file>
                </easybestsellers>
            </updates>
        </layout>        
    </adminhtml>
    <default>
        <easybestsellers>
            <options>
                <bigsize>0</bigsize>
                <actions>1</actions>
                <price>1</price>
                <salable>1</salable>
                <noproduct>There are no products that match your criteria. Please try again with different options.</noproduct>
            </options>
            <topsell>
                <days>365</days>
            </topsell>
            <new>
                <from>2007-08-23</from>
            </new>
            <slider>
            	<!--<circular>true</circular>-->
            	<autoplay>true</autoplay>
            	<!--<effect>fade</effect>-->
            	<slideduration>4</slideduration>
            	<animduration>0.5</animduration>
            </slider>                
        </easybestsellers>
    </default>
</config>